# {{ ansible_managed }}

ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEta0deDTt1WHHonGacm9w5Bgi5igPVuRWRmxlLy5n1oWRZq/N7OeHljrafbbWBfNqJXMSqpPLBsFgLtaiVOpY0= hq@talos
ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBJkVODUBc/of7tROMQydN5yim39815sihwh4lwp6ijklm4Ez42azU8RvzsG7NAX1Fyx8SPgVVYsY+u3zsGCCCFQ= hq@talos-test
